@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.woff2) format('woff2'),
        url(../fonts/Raleway-Regular.ttf) format('truetype');
        font-weight: 400;
        font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.woff2)format('woff2'),
        url(../fonts/Raleway-Bold.ttf) format('truetype');
        font-weight: 700;
        font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Italic.woff2) format('woff2'),
        url(../fonts/Raleway-Italic.ttf) format('truetype');
        font-weight: 400;
        font-style: italic;
}

:root {
    --vert-cv: #17abb3;
    --gris-cv: #333333;
    --gris-clair-cv: #e3e3e3;
    --blanc-casse-cv: #f5f5f5;
    --blanc-cv: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--blanc-casse-cv);
}
h1{
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 78px;
    color: var(--blanc-cv);

}

.container{
    max-width: 1600px;
    background-color: var(--blanc-cv);
    margin: 0 auto;

}

header{
    width: 100%;
    height: 330px;
    background-color: var(--vert-cv);
    display: flex;
}
.header__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

img{
    width: 210px;
    border-radius: 50%;
    border: 7px solid var(--blanc-cv);
}
.header__name{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.header__name h2{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: var(--blanc-cv);
}
.contact{
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    padding: 0;
    justify-content: space-evenly;
}
.contact li{
    width: 490px;
    list-style: none;
    color: var(--blanc-cv);
    padding-left: 70px;
}
.contact a{
    color: var(--blanc-cv);
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 300;
}
.contact i{
    font-size: 24px;
    margin-right: 10px;

}
main{
    width: 100%;
    display: flex;
}
main p{
    font-family: 'Raleway', sans-serif;
}
main h2{
    font-family: "Lato", sans-serif;
    color: var(--vert-cv);
    font-weight: 400;
}
/* -- main left -- */

.left{
    width: 30%;
    background-color: var(--gris-clair-cv);
}
.competence, .langue, .qualite, .interet{
    padding: 40px 60px 0 60px;
}
hr{
    margin: 20px 0;
    color: #33333322;
}

.compet-item, .langue-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.compet-item li, .langue-item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  max-width: 100%;
}

.compet-name, .langue-name {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: var(--gris-cv);
}

.stars i {
  color: var(--vert-cv);
  font-size: 1rem;
}
.qualite-item, .interet-item {
    list-style: square;
    margin: 0;
    padding: 0;
}
.qualite-item li, .interet-item li{
    display: list-item;
    justify-content: space-between;
    margin-bottom: 5px;  
    margin-left: 20px;
}
.qualite-name, .interet-name{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: var(--gris-cv); 

}
.qualite-name::marker, .interet-name::marker{
    color: var(--vert-cv);
    font-size: 1.3rem;
}

/* -- main right -- */
.right{
    width: 70%;
    background-color: var(--blanc-cv);
    margin-bottom: 50px;
}
.right section{
    padding: 40px 80px 0 80px;
}
.profil p{
    text-indent: 25px;
    text-align: justify;
}
.formation, .stage, .experience{
    padding: 40px 60px 0 60px;
}
.formation-item, .stage-item, .experience-item {
    list-style: none;
    margin: 0;
    padding: 0;
}
.formation-item li, .stage-item li, .experience-item li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  max-width: 100%;
  margin-bottom: 20px;
}
time{
    color: var(--vert-cv);
    font-family: "Lato", sans-serif;
}
.formation-name, .stage-name, .experience-name{
    font-family: "Lato", sans-serif;
    font-weight: bold;
}
.formation-name em, .stage-name em, .experience-name em{
    font-weight: 400;
    font-style: italic;
    font-size: 0.8rem;
}
/* -- Footer -- */
footer{

    background-color: var(--vert-cv);
}
.rs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
}
.rs-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 0.8em;
}
.rs-item i{
    font-size: 1.5em;
    color: var(--blanc-cv);

}
.date, .date time{
    color: var(--blanc-cv);
    font-family: 'Raleway', sans-serif;

}
